.logo {
    border: 2px solid black;
    width: 100px;
}

header {
    background-color: rgb(85, 87, 231);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

body{
    margin: 0px;
}

h1 {
    font-family:'Times New Roman', Times, serif
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer {
    background-color: rgb(115, 117, 226);
    padding: 20px;
    display: flex;
    justify-content: center;
}

main{
    padding: 20px;
    background-color:darkgrey;
}

section{
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
}

.listar{
    display: flex;
    justify-content: space-evenly;
}

.myndir{
    display: flex;
    overflow: scroll;
}

.myndir img{
    width: 300px;
    padding: 10px;
}